.hook {
    padding-top: 100px;
    height: calc(60vh - 125px);
    width: 100%;
    padding-top: 125px;
    background-color: #73a553;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionService {
    display: flex;
    justify-content: center;
    align-content: center;
}

.descriptionService img {
    margin: 45px 0 30px 50px;
}

.contentEntreprise {
    margin-top: 100px;
    font-size: 1.2em;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 200px;
}

.description {
    text-align: justify;
    width: 100%;
}
