.datasContainer {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 250px;
}

.projects {
    flex: 1;
    display: flex;
}

.linksTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    position: relative;
}

.usefulLinks {
    position: relative;
}

.usefulLinks span {
    z-index: 10;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.leftColumn .capsule {
    margin-top: 30px;
    justify-content: right;
}

.rightColumn .capsule {
    margin-bottom: 30px;
}

.numbersContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.numbersContainer h1 {
    width: 50%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.numbers div {
    padding-right: 20px;
} 

.leftColumn {
    flex: 1;
}

.capsuleContainerL {
    width: 100%;
    display: flex;
    justify-content: right;
}

.capsuleContainerR {
    width: 100%;
    display: flex;
    justify-content: left;
}

.rightColumn {
    flex: 1;
}

.capsule {
    border: solid #E2E2E2 1px;
    border-radius: 30px;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.surlignage {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #e1eada;
    z-index: 0;
    top: 25%;
    left: 0;
}

.numericData {
    position: relative;
    color: #73a553;
    display: flex;
    justify-content: left;
    margin-right: 10px;
    font-size: 6em;
    font-weight: bold;
    font-family: "Poppins-Bold";
    min-height: 150px;
}

.eleven {
    z-index: 10;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 80px;
    height: auto;
}

.numeroSix {
    z-index: 10;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 65px;
    height: auto;
}

.dureeVie {
    z-index: 10;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 250px;
    height: auto;
}

.fourpercent {
    z-index: 10;
    line-height: 65px;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 5px;
    width: 160px;
    height: auto;
}

.backgroundData {
    position: absolute;
    background-color: #e0ebda;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    left: 0;
    top: 35px;
    z-index: 0;
}