.entryAbout {
    position: relative;
}

.hook {
    padding-top: 100px;
    height: calc(100vh - 125px);
    width: 100%;
    padding-top: 125px;
    background-color: #73a553;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBackgroundBottom {
    position: absolute;
    z-index: 0;
    width: 100%;
    right: -30%;
    bottom: -15%;
    opacity: 0.2;
}

.contactButton {
    background-color: #8bb676;
    font-family: "Poppins";
    color: white;
    text-decoration: none;
    padding: 20px 70px;
    font-weight: bold;
    border-radius: 50px;
    flex: 1;
    font-size: 1.25em;
}

.contactButton:hover {
    background-color: white;
    color: #73a553;
}
