@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Poppins"), url("../fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins-Light";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local("Poppins-Light"), url("../fonts/Poppins-Light.ttf") format("ttf");
}

div, span, a, p, h1, h2, h3, h4 {
  font-family: "Poppins";
}

h1 {
  font-weight: 900;
  font-size: 4em;
}

a {
    text-decoration: none;
}
  
#category {
  font-family: Staatliches;
  font-weight: 500;
}
  
#title {
  letter-spacing: .4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}
  
#banner {
  margin: 20px;
  height: 800px;
}
  
#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}
  
.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}
  
img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* TAILLES LARGEUR */
  
.w5p {
  width: 5%;
}

.w10p {
  width: 60%;
}

.w20p {
  width: 20%;
}

.w33p {
  width: 33%;
}

.w50p {
  width: 50%;
}

.w60p {
  width: 60%;
}

.w70p {
  width: 70%;
}

.w80p {
  width: 80%;
}

.w100p {
  width: 100%;
}
  
/* FIN TAILLES LARGEUR */
/* POSITIONNEMENT */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.ml10p {
  margin-left: 10%;
}

.m20 {
  margin: 20px;
}

.pt50 {
  padding-top: 50px;
}

/* FIN POSITIONNEMENT */

.sectionTitle {
  color: #73a553;
  font-size: 1.5em;
}

.sectionText {
  font-size: 1.2em;
}

.topDisplay {
  z-index: 10;
  position: relative;
}