.bandeau {
    height: 125px;
    width: 100%;
    background-color: #73a553;
  }
  
  .bandeau-img {
    height: 100px;
    margin-top: 12px;
    margin-left: 25px;
  }
  
  .crumbs {
    padding-left: 20%;
    z-index: 1;
  }
  
  .crumb, .crumbButton {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 4rem;
    margin: 0 1.5rem;
    padding: 20px 0;
    display: inline-block;
    float: none;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .crumb a, .crumbButton a {
    color: white;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
  }
  
  .menu-items {
    width: 90%;
  }
  
  .crumb a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  
  }
  
  .crumb a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: white;
  }
  
  a[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
    color: white; 
    font-size: 1.5rem
  }
  
  .contact {
    border: solid 1px white;
    padding: 10px 30px;
    border-radius: 30px;
  }
  
  .contact:hover {
    background-color: white;
    color: #73a553;
  }