.bandeau {
    height: 125px;
    width: 100%;
    background-color: #73a553;
  }
  
  .bandeau-img {
    height: 100px;
    margin-top: 12px;
    margin-left: 25px;
    z-index: 500;
    cursor: pointer;
    position: relative;
    width: 20%;
  }
  
  .crumbs {
    padding-left: 20%;
    z-index: 1;
  }

  .crumbs ul {
    display: flex;
  }
  
  .crumb, .crumbButton {
    list-style: none;
    font-size: 1rem;
    line-height: 4rem;
    margin: 0 1.5rem;
    padding: 20px 0;
    float: none;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 215px;
    text-overflow: ellipsis;
    min-width: 100px;
    max-height: 85px;
    overflow: hidden;
    color: white;
  }

  .crumbButton a {
    border-bottom: none !important;
  }
  
  .crumb a, .crumbButton a {
    color: white;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    min-width: 100px;
    white-space: nowrap;
    text-overflow: "...";
  }
  
  .menu-items {
    width: 100%;
  }
  
  .crumb a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  
  }

  .crumb a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: white;
  }
  
  a[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
    color: white; 
    font-size: 1rem;
    border-bottom: solid white 4px;
  }
  
  .contact {
    border: solid 1px white;
    padding: 10px 30px;
    border-radius: 30px;
  }
  
  .contact:hover {
    background-color: white;
    color: #73a553;
  }

  @media (max-width: 1600px) {

    .crumb, .crumbButton {
      max-width: 150px;
    }

  }

  @media (max-width: 1280px) {

    .bandeau-img {
      width: 10%;
      position: absolute;
    }

    .crumbs {
      padding-left: 10%;
    }

    .crumbs ul {
      width: 1100px;
    }

  }
