.servicesContainer {
    margin-left: 15%;
    margin-top: 150px;
}

.capsules {
    display: flex;
    margin-left: 10%;
    margin-top: 40px;
    width: 75%;
}

.capsules .capsule {
    flex: 1 auto;
    float: left;
}

.capsuleEcoconception {
    margin-top: 30%;
}